<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
    <link rel="stylesheet" href="/layui-v2.6.8/layui/css/layui.css" >
    <script src="/layui-v2.6.8/layui/layui.js"></script>
</head>
<body>
<div class="layui-layout-admin">
    <div th:replace="commons/common::adminsidebar"></div>
    <div th:replace="commons/common::admintopbar"></div>
    <div class="layui-body">
        <div style="padding: 15px">
                <form action="/adminAddBookPage" class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称: </label>
                        <div class="layui-inline">
                            <input type="text" name="bookName" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">作者</label>
                        <div class="layui-inline">
                            <input type="text" name="bookAuthor" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">出版社</label>
                        <div class="layui-inline">
                            <input type="text" name="bookPublish" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">种类</label>
                        <div class="layui-inline">
                            <select name="bookCategory" lay-search>
                                <option value="1">小说</option>
                                <option value="2">历史</option>
                                <option value="3">计算机</option>
                                <option value="4">哲学</option>
                                <option value="5">社会科学</option>
                                <option value="6">政治法律</option>
                                <option value="7">军事科学</option>
                                <option value="8">中国文学</option>
                                <option value="9">外国文学</option>
                                <option value="10">外国传记</option>
                                <option value="11">英语</option>
                                <option value="12">俄国小说</option>
                                <option value="13">心理学</option>
                                <option value="14">言情小说</option>
                                <option value="15">武侠小说</option>
                                <option value="16">环境科学</option>
                                <option value="17">纪实文学</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">价格</label>
                        <div class="layui-inline">
                            <input type="text" name="bookPrice" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">简介</label>
                        <div class="layui-inline">
                            <input type="text" name="bookIntroduction" class="layui-input">
                        </div>
                    </div>
                    <div>
                        <div class="layui-input-block"></div>
                        <button class="layui-btn-normal layui-btn">提交</button>
                    </div>
                </form>
        </div>
    </div>
</div>
</body>
</html>