<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生借书记录</title>
    <link rel="stylesheet" href="/layui-v2.6.8/layui/css/layui.css" >
    <script src="/layui-v2.6.8/layui/layui.js"></script>
</head>
<body>
<div class="layui-layout-admin">
    <div th:replace="~{commons/common::usersidebar}"/>
    <div th:replace="~{commons/common::usertopbar}"/>
    <div class="layui-body" style="padding: 15px">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>书籍id</th>
                <th>书籍名称</th>
                <th>借阅时间</th>
                <th>最晚归还时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record:${records}" >
                <th th:text="${record.getBookId()}"></th>
                <th th:text="${record.getBookName()}"></th>
                <th th:text="${record.getEarliestReturnDate()}"></th>
                <th th:text="${record.getLastestReturnDate()}"></th>
                <th>
                    <form action="/returnBook" >
                        <button name="bookId" th:value="${record.getBookId()}" class="layui-btn layui-btn-normal">还书</button>
                    </form>

                </th>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
</html>