<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.manager.mapper.AdminMapper">
    <resultMap id="BaseResult" type="com.huang.manager.pojo.Admin">
        <id column="admin_id" jdbcType="INTEGER" property="adminId"/>
        <result column="admin_name" jdbcType="VARCHAR" property="adminName"/>
        <result column="admin_pwd" jdbcType="VARCHAR" property="adminPwd"/>
        <result column="admin_email" jdbcType="VARCHAR" property="adminEmail"/>
    </resultMap>

    <sql id="base">
        admin_id,admin_name,admin_pwd,admin_email
    </sql>
<select id="selectAdmin" parameterType="java.lang.String" resultMap="BaseResult">
    select <include refid="base"></include> from mylibrary.admin where admin_name = #{adminName};
</select>
<insert id="addBookCategory" parameterType="java.lang.String">
        insert ignore into mylibrary.book_category(category_name) values (#{categoryName})
</insert>
<!--    管理员查询用户-->
    <select id="adminSelectUser" resultType="com.huang.manager.pojo.User">
        select user_id, user_name, user_pwd, user_email from mylibrary.user;
    </select>
</mapper>